body{
font-family:"comic sans ms",sans-serrif;
color:black;
}
#header-nav{
height:100px;
background-color:lightgray;
border:2px solid black;
margin:0px;
}
h1{
color: black;
margin:15px 0 15px -20px;
font-size:30px;
}

h2{
font-size:50px;
margin:15px 0 35px 0;
}
p{
font-size:25px;
width:80%;
margin-left:10%;
margin-right:10%;
}
.text{
background-color:lightgray;
margin:0 5% 0 5%;
}
h3{
text-decoration:bold;
margin:5px 0 20px 0;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
} 

@media (max-width: 767px) {
#collapsable-nav a { 
    font-size: 1.2em;
  }
  
#collapsable-nav a span { 
    font-size: 1em;
    margin-right: 5px;
  }

 
 #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
}
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
#menu{
visibility:"visible";
}
}

#menu{
width:40px;
height:30px;
position:absolute;
top:5%;
right:3%;
float:right;
visibility:"hidden";
}
#chicken,#beef,#sushi{
border: 2px solid black;
width: 300%;
height:30%;
background-color:white;
font-size:20px;
position:relative;
left:-600%;
  text-align:center;
}
#chicken:hover,#beef:hover,#sushi:hover{
background-color:LightGrey;

}
